<%- include('partials/header') %>


    <!-- //navigation bar -->

   
    <nav class="navbar navbar-expand-lg  navbar-custom">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">HealtyFy Me</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-angle-down fa-bounce"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#bmii">Compatibility</a>
                    <a class="nav-link" href="#buyi">Buy</a>
                    <a class="nav-link " href="#recii">Recipes</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="top-then-nav">
        <i class="fa-solid fa-people-group fa-beat fa-6x" style="color: #026b00;"></i>
    </div>
    <div>
        <img class="cover-img"
            src="https://cdn.shopify.com/s/files/1/0601/1505/8873/files/Untitled_1800_x_600_px_1600_x_600_px_2_1950x.png?v=1682149611"
            alt="">
    </div>









    <!-- <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-6  col-sm-12 " style="background-color: #c2dac4; ">
                <br>
                <br>
                <br>
                <h1 class="display-3">
                    Hello! <%=Userdata.name %>
                </h1>
                <h1 class="display-3">
                    <i></i>
                </h1>
                <p class="display-5">Do you know about BMI ?</p>
                <p class="display-lines">Body mass index is a value derived from the mass and height of a person. The
                    BMI is defined as the body mass divided by the square of the body height, and is expressed in units
                    of kg/m², resulting from mass in kilograms and height in metres</p>
                <p class="display-lines"> Your Current BMI is
                <h3 class="display-3">
                    <%=Userdata.bmi%>
                </h3> -->
                <!-- </p>
                <% if(Userdata.bmi<18){ %>
                    <p class="display-lines">You are little bit in underweight catogory , but don't worry millets will
                        surely help you to fullfill your protien requirements and help you become fit</p>
                    <% } %>
                        <% if(Userdata.bmi> 24){ %>
                            <p class="display-lines">You are little bit in overweight catogory , but don't worry these
                                millets will bring back you in shape in no time</p>
                            <% } %>
                                <% if (Userdata.bmi < 24 & Userdata.bmi>18){ %>
                                    <p class="display-lines">That's pretty nice , you are already Fit Here are some
                                        millets which will keep you in shape</p>
                                    <% } %> -->
       



    <div id="bmii" class="container containter-pt py-3">
      <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h3 class="display-6 fw-normal">Hey! <%=Userdata.name %></h3>
          <h1 class="display-4 fw-normal">How Healthy You are ?</h1>
          <h3 class="display-6 fw-normal">Let the BMI decide </h3> 
          <p class="fs-5 text-body-secondary"> <strong>BMI</strong> stands for Body Mass Index. It is a measure of body fat based on an individual's weight and height. BMI is commonly used as a screening tool to determine if someone is underweight, normal weight, overweight, or obese. It is calculated by dividing a person's weight in kilograms by the square of their height in meters.</p>
          <br>
          <h3 class="display-6 fw-normal">Your Current BMI is <%=Userdata.bmi %> </h3>


          <% if(Userdata.bmi<18){ %>
            <p class="fs-5 text-body-secondary">You are little bit in underweight catogory , but don't worry millets will
                surely help you to fullfill your protien requirements and help you become fit</p>
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                  <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                      <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Pearl millet</h4>
                      </div>
                      <div class="card-body">
                        <!-- <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1> -->
                        <img src="https://nrootsfood.com/wp-content/uploads/2021/08/pearl.jpg" alt="" width="70%" height="70%">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li> Pearl millet is a popular millet variety that is relatively higher in calories and carbohydrates. It is a good source of energy and can be used to make porridge, rotis (Indian bread), and various other dishes.</li>
                         
                        </ul>
                        <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button> -->
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                      <div class="card-header py-3 text-bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Finger Millets</h4>
                      </div>
                      <div class="card-body">
                        <!-- <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1> -->
                        <img src="https://m.media-amazon.com/images/I/41znvJvGCUL.jpg" alt="" width="70%" height="70%">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>Finger millet is rich in dietary fiber, protein, and essential amino acids. It also contains good amounts of healthy fats. Ragi flour can be used to prepare porridge, dosas (Indian pancakes), and baked goods.</li>
                        </ul>
                        <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Contact us</button> -->
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                      <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Sorghum</h4>
                      </div>
                      <div class="card-body">
                        <!-- <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1> -->
                        <img src="https://origin.club/media/catalog/product/cache/86eaafd287624d270d87c663dd3976d5/s/o/sorghum_2__1.jpg" alt="" width="70%" height="70%">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>Sorghum is another nutritious millet that can help with weight gain. It is high in carbohydrates, dietary fiber, and certain micronutrients like iron and magnesium. Jowar flour can be used to make rotis.</li>
                        </ul>
                        <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get started</button> -->
                      </div>
                    </div>
                  </div>        

            <% } %>
            <% if(Userdata.bmi> 24){ %>
                    <p class="fs-5 text-body-secondary">You are little bit in overweight catogory , but don't worry these
                        millets will bring you back in shape in no time</p>
                       
                          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                            <div class="col">
                              <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                  <h4 class="my-0 fw-normal">Little millet</h4>
                                </div>
                                <div class="card-body">
                                  <!-- <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1> -->
                                  <img src="https://shop.myharvestfarms.com/wp-content/uploads/2021/09/Samai-Little-Millet.png" alt="" width="70%" height="70%">
                                  <ul class="list-unstyled mt-3 mb-4">
                                    <li> Fiber-rich: Little millet is high in dietary fiber, which aids digestion. The fiber content in little millet can contribute to a feeling of fullness and may assist in weight loss efforts.</li>
                                   
                                  </ul>
                                  <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button> -->
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-bg-primary border-primary">
                                  <h4 class="my-0 fw-normal">Foxtail millet</h4>
                                </div>
                                <div class="card-body">
                                  <!-- <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1> -->
                                  <img src="https://origin.club/media/catalog/product/cache/86eaafd287624d270d87c663dd3976d5/f/o/foxtail_millet_1.jpg" alt="" width="70%" height="70%">
                                  <ul class="list-unstyled mt-3 mb-4">
                                    <li> Italian millet is a low-calorie millet that contains a good amount of dietary fiber. It can help control appetite, maintain steady blood sugar levels, and support weight loss efforts.

                                    </li>
                                  </ul>
                                  <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Contact us</button> -->
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                  <h4 class="my-0 fw-normal">BrownTop Millet</h4>
                                </div>
                                <div class="card-body">
                                  <!-- <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1> -->
                                  <img src="https://www.puremart.in/images/products/331-browntop-millet-250-gms-1600950930.jpeg" alt="" width="70%" height="70%">
                                  <ul class="list-unstyled mt-3 mb-4">
                                    <li> Browntop millet is a nutritious millet variety that is low in calories and high in fiber. It can aid in digestion, promote fullness, and assist in weight management.</li>
                                  </ul>
                                  <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get started</button> -->
                                </div>
                              </div>
                            </div>  


            <% } %>
            <% if (Userdata.bmi < 24 & Userdata.bmi>18){ %>
                <p class="fs-5 text-body-secondary">That's pretty nice , you are already Fit Here are some
                     millets which will keep you in shape</p>
                      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                              <h4 class="my-0 fw-normal">Pearl millet</h4>
                            </div>
                            <div class="card-body">
                              <!-- <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1> -->
                              <img src="https://nrootsfood.com/wp-content/uploads/2021/08/pearl.jpg" alt="" width="70%" height="70%">
                              <ul class="list-unstyled mt-3 mb-4">
                                <li> Pearl millet is a popular millet variety that is relatively higher in calories and carbohydrates. It is a good source of energy and can be used to make porridge, rotis (Indian bread), and various other dishes.</li>
                               
                              </ul>
                              <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button> -->
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm border-primary">
                            <div class="card-header py-3 text-bg-primary border-primary">
                              <h4 class="my-0 fw-normal">Foxtail Millet</h4>
                            </div>
                            <div class="card-body">
                              <!-- <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1> -->
                              <img src="https://origin.club/media/catalog/product/cache/86eaafd287624d270d87c663dd3976d5/f/o/foxtail_millet_1.jpg" alt="" width="70%" height="70%">
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>Foxtail millet is a good source of protein, with approximately 12-13% protein content by weight. It also contains good amounts of healthy fats. Ragi flour can be used to prepare porridge, dosas, and baked goods.</li>
                              </ul>
                              <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Contact us</button> -->
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                              <h4 class="my-0 fw-normal">Barnyard Millet</h4>
                            </div>
                            <div class="card-body">
                              <!-- <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1> -->
                              <img src="https://cdn.shopify.com/s/files/1/0475/8398/5816/products/Barnyard_millet_5726a77d-befe-4086-abaa-c551c7b95fef_869x869.jpg?v=1605758305" alt="" width="70%" height="70%">
                              <ul class="list-unstyled mt-3 mb-4">
                                <li>Barnyard millet, also known as "Sanwa" or "Echinochloa frumentacea," is a small-seeded millet that belongs to the grass family. It is commonly consumed as a staple food in many parts of India and other Asian countries</li>
                              </ul>
                              <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">Get started</button> -->
                            </div>
                          </div>
                        </div>  

            <% } %>
        </div>
      </header>
      
     
        
        </div>  
    






    <div>
        <h1 class="display-3 top-then-nav" style="background-color: rgb(255, 255, 255); ">Why Millets ?</h1>
    </div>

    <div class="millets-type" style="background-color: rgb(255, 255, 255); ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6  col-sm-12 " style="background-color: rgb(255, 255, 255); ">
                    <p>
                        Millets are a group of small-seeded grasses that have been cultivated for thousands of years and
                        have played a crucial role in human diets in many parts of the world. Here are some reasons why
                        people should consider including millets in their food habits:
                    </p>
                    <ul>
                        <li>
                            <strong>Nutritious: </strong>
                            Millets are highly nutritious and packed with essential nutrients such as protein,
                            fiber, vitamins, and minerals. They are a good source of calcium, iron, magnesium, and
                            phosphorus, which are important for maintaining strong bones, healthy muscles, and other bodily
                            functions.
                        </li>
                        <li>
                            <strong>Gluten-free:</strong>
                             Millets are naturally gluten-free, making them an excellent alternative for people
                            with celiac disease or gluten intolerance. They are also low in allergens, making them a safe
                            choice for people with food allergies.
                        </li>
                        <li>
                            <strong>Low glycemic index:</strong>
                           Millets have a low glycemic index, which means they release glucose into the
                          bloodstream slowly, preventing sudden spikes in blood sugar levels. This makes them an ideal
                          choice for people with diabetes or those looking to manage their blood sugar levels.
                        </li>
                        <li>
                            <strong>Versatile:</strong>
                             Millets are versatile and can be used in a variety of dishes such as salads, soups,
                            stews, and even baked goods. They can be cooked like rice or used as a substitute for other
                            grains in recipes.
                        </li>
                        <li>
                            <strong>Sustainable:</strong>
                             Millets are sustainable crops that require minimal water and can grow in harsh
                            environments, making them an ideal choice for farmers in drought-prone regions. By including
                            millets in your diet, you are supporting sustainable agriculture and helping to reduce your
                            carbon footprint.
                        </li>
                        <li>
                            <strong>Affordable:</strong>
                             Millets are an affordable source of nutrition compared to other grains. They are
                            readily available in most grocery stores and can be a cost-effective way to add variety and
                            nutrition to your diet.
                        </li>
                    </ul>   
                </div>
                <div class="col-lg-6  col-sm-12 ">
                    <img class="responsive-imgg" src="/images/millets faydee.png" alt="">
                </div>
            </div>
        </div>
        <main>

            <section id="buyi" class="py-5 text-center container">
              <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                  <h1 class="fw-light">Convinced to Buy ?</h1>
                  <p class="lead text-muted">Don't worry by adding millets to your diet you are making one of the best decision for you health .</p>
                  <p>
                    <a href="https://en.wikipedia.org/wiki/Millet" class="btn btn-primary my-2">Read More </a>
                    <a href="#" class="btn btn-secondary my-2">I will Buy Later</a>
                  </p>
                </div>
              </div>
            </section>
          
            <div class="album py-5 bg-light">
              <div class="container">
          
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm">
                        
                        <img src="https://www.wellcurve.in/blog/wp-content/uploads/2021/02/Finger-Millet.jpg" alt="">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                    
                      <div class="card-body">
                        <p class="card-text"><strong>Finger Millet </strong>is popularly known as Ragi. It is commonly consumed by fitness enthusiasts as a healthier alternative to rice and/or wheat. It is a gluten-free variant of Millet, rich in proteins and amino acids.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://www.amazon.in/Organic-Soul-Natural-Finger-Millets/dp/B092R1SRN6/ref=sr_1_6?keywords=finger+millets&qid=1683543255&sr=8-6" class="btn btn-sm btn-outline-secondary"  target="_blank">Buy</a>
                            <a href="https://www.wellcurve.in/blog/different-types-of-millets/" class="btn btn-sm btn-outline-secondary"  target="_blank">Read More</a>
                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                      <img src="https://www.wellcurve.in/blog/wp-content/uploads/2021/02/Foxtail-Millet.jpg" alt="">
                      <div class="card-body">
                        <p class="card-text"><strong>Foxtail Millet</strong>, also known as Kakum/Kangni in India, It is rich in carbohydrates that help in balancing blood sugar levels in the body. These millets have a high Iron content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://www.amazon.in/Amazon-Brand-Unpolished-Foxtail-Millets/dp/B0BWHSNCX4/ref=sr_1_6?crid=2DHNDMQGTEXJJ&keywords=Foxtail%2BMillet&qid=1683543325&sprefix=foxtail%2Bmillet%2Caps%2C334&sr=8-6&th=1"  target="_blank" class="btn btn-sm btn-outline-secondary">Buy</a>
                            <a href="https://www.wellcurve.in/blog/different-types-of-millets/" class="btn btn-sm btn-outline-secondary"  target="_blank">Read More</a>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                      <img src="https://www.wellcurve.in/blog/wp-content/uploads/2021/02/Sorghum-Millet.jpg" alt="">
                      <div class="card-body">
                        <p class="card-text"><strong>Sorghum Millet</strong> also known as Organic jowar is a rich source of iron, protein, and fibre and, because of the presence of policosanols, can help lower cholesterol levels</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://www.amazon.in/Jowar-Gains-Kg/dp/B08537R73F/ref=sr_1_1_sspa?crid=3C68MY2V4VXV9&keywords=Sorghum+Millet&qid=1683543372&sprefix=sorghum+millet%2Caps%2C232&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"  target="_blank" class="btn btn-sm btn-outline-secondary">Buy</a>
                            <a href="https://www.wellcurve.in/blog/different-types-of-millets/" class="btn btn-sm btn-outline-secondary"  target="_blank">Read More</a>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                      <img src="https://www.wellcurve.in/blog/wp-content/uploads/2021/02/Pearl-Millet.jpg" alt="">

                      <div class="card-body">
                        <p class="card-text"><strong>Pearl millet</strong> or Bajra is one of the most common types of millets. It is prepared in various ways, including roti and khichdi,Bajra includes iron, fibre, protein, and minerals such as magnesium and calcium.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://www.amazon.in/Mill%C3%A9-Little-Millet-Chemicals-Protein/dp/B0B7TKZC8S/ref=sr_1_1_sspa?crid=21L263JGWRKWJ&keywords=Pearl+millet&qid=1683543411&sprefix=sorghum+millet%2Caps%2C213&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"  target="_blank" class="btn btn-sm btn-outline-secondary">Buy</a>
                            <a href="https://www.wellcurve.in/blog/different-types-of-millets/" class="btn btn-sm btn-outline-secondary"  target="_blank" >Read More</a>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                      <img src="https://www.wellcurve.in/blog/wp-content/uploads/2021/02/Barnyard-Millet.jpg" alt="">
                      <div class="card-body">
                        <p class="card-text"><strong>Barnyard Millet</strong> is popular in millets name list and also known as Sanwa. It is stacked with high amounts of dietary fibres that help improve bowel movement and aiding weight loss. </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://www.amazon.in/Miltop-Barnyard-Millet-1-kg/dp/B0BQF65K52/ref=sr_1_6?crid=MPNY5DAFLVX5&keywords=Barnyard%2BMillet&qid=1683543468&sprefix=barnyard%2Bmillet%2Caps%2C220&sr=8-6&th=1" class="btn btn-sm btn-outline-secondary"  target="_blank">Buy</a>
                            <a href="https://www.wellcurve.in/blog/different-types-of-millets/" class="btn btn-sm btn-outline-secondary"  target="_blank">Read More</a>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                      <img src="https://www.wellcurve.in/blog/wp-content/uploads/2022/03/buckwheat-millet.jpg" alt="">
                      <div class="card-body">
                        <p class="card-text"><strong>Buckwheat</strong>, also known as Kuttu in India, is one of the most common types of Millet and is often used during the Navratra. It is diabetic-friendly and helps in reducing blood pressure.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://www.amazon.in/Mill%C3%A9-Foxtail-Millet-Chemicals-Protein/dp/B0B8J3VRQD/ref=sr_1_1_sspa?crid=E280WSZ96A58&keywords=Buckwheat&qid=1683543511&sprefix=buckwheat%2Caps%2C394&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"  target="_blank" class="btn btn-sm btn-outline-secondary">Buy</a>
                            <a href="https://www.wellcurve.in/blog/different-types-of-millets/" class="btn btn-sm btn-outline-secondary"  target="_blank">Read More</a>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                      <img src="https://www.wellcurve.in/blog/wp-content/uploads/2021/02/Amaranth-Millet.jpg" alt="">
                      <div class="card-body">
                        <p class="card-text"><strong>Amarnath Oats</strong> is rich in protein and dietary fibre. It is great for a healthy diet. This Millet also helps in fighting greying and hair loss. Amaranth also lowers cholesterol levels and disease risk</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://www.amazon.in/Sattvic-Foods-Leaf-Rolled-1-5kg/dp/B018KP16PY/ref=sr_1_4_sspa?crid=1KI6MP5QJAPSI&keywords=amaranth%2Boats&qid=1683543539&sprefix=amarnath%2Boats%2Caps%2C424&sr=8-4-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1"   target="_blank" class="btn btn-sm btn-outline-secondary">Buy</a>
                            <a href="https://www.wellcurve.in/blog/different-types-of-millets/" class="btn btn-sm btn-outline-secondary"  target="_blank">Read More</a>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                      <img src="https://www.wellcurve.in/blog/wp-content/uploads/2021/02/Little-Millet.jpg" alt="">
                      <div class="card-body">
                        <p class="card-text"><strong>Little Millet</strong> is one of the major in list of millets, it is also called Moraiyo, Kutki, Shavan, and Sama. It is loaded with vitamin B and essential minerals such as Calcium, Iron, Zinc, and Potassium</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://www.amazon.in/Company-Organic-Browntop-Barnyard-Unpolished/dp/B08J7DN5T3/ref=sr_1_4_sspa?crid=3EXH0J959ZZZR&keywords=Little+Millet&qid=1683543582&sprefix=little+millet%2Caps%2C405&sr=8-4-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"  target="_blank" class="btn btn-sm btn-outline-secondary">Buy</a>
                            <a href="https://www.wellcurve.in/blog/different-types-of-millets/" class="btn btn-sm btn-outline-secondary"  target="_blank">Read More</a>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm">
                      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                      <img src="https://www.wellcurve.in/blog/wp-content/uploads/2021/02/Broomcorn-Millet.jpg" alt="">
                      <div class="card-body">
                        <p class="card-text"><strong>Broomcorn</strong> helps balance blood sugar levels . It is a good option for diabetics and Switching to a diet with this Millet can be a good transformation as far as nutrition is concerned</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="https://www.amazon.in/Cholam-Millet-Sorghum-Granules-vitamins-3980g/dp/B0BRL318VW/ref=sr_1_1?crid=272QJ3A4HQO59&keywords=Broomcorn+miller&qid=1683543624&sprefix=broomcorn+mille%2Caps%2C237&sr=8-1"  target="_blank" class="btn btn-sm btn-outline-secondary">Buy</a>
                            <a href="https://www.wellcurve.in/blog/different-types-of-millets/" class="btn btn-sm btn-outline-secondary"  target="_blank" >Read More</a>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </main>
          
          <div>
            <h1 id="recii" class="display-3 top-then-nav" style="background-color: rgb(255, 255, 255); ">Recipes</h1>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 col-sm-12 " >
                   <img src="/images/1.1.png" alt="">
                </div>
                <div class="col-lg-4  col-sm-12 allingment-img1" >
                    <img class="responsive-imgg" src="/images/deepal-tamang-5oF7d_hPJG4-unsplash-removebg-preview.png"  alt="">
                </div>
            </div>
        </div>
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-4  col-sm-12 allingment-img1" >
                    <img class="responsive-imgg" src="/images/background_remover-removebg-preview.png"  alt="">
                </div>
                 <div class="col-lg-8 col-sm-12 " >
                    <img src="/images/2.0.png" alt="">
                 </div>
            </div>
        </div>
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 col-sm-12 " >
                    <img src="/images/3.1.png" alt="">
                 </div>
                 <div class="col-lg-4  col-sm-12 allingment-img1" >
                     <img class="responsive-imgg" src="/images/towfiqu-barbhuiya-G5w8OSzHDhI-unsplash-removebg-preview.png"  alt="">
                 </div>
             </div>
            </div>
        </div>
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="row">
                    <div class="col-lg-4  col-sm-12 allingment-img1" >
                        <img class="responsive-imgg" src="/images/kabir-cheema-oUIPGCBx2OI-unsplash-removebg-preview.png"  alt="">
                    </div>
                     <div class="col-lg-8 col-sm-12 " >
                        <img src="/images/4.1.png" alt="">
                     </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2  class="col2">Get In Touch</h2>
      <h3 class="coulorr">We are always open to feedbacks</h3>
      <p class="tty">If you have a big order that you wanna give us ot think you need my help with something or just fancy saying hey, then get in touch.</p>
      <div class="gtht">
        <a class="btno" href="mailto:chetanrao2003@gmail.com">CONTACT ME</a>
      </div>
      
    </div>
  </div>


  <div class="bottom-container">
    <a class=" aa " href="https://www.linkedin.com/in/chetan-rao-04182821b/ "target=”_blank” >LinkedIn</a>
    <a class=" aa " href="https://github.com/code-er7" target=”_blank” >GitHub</a>
    <a class="aa " href="https://discord.com/" target=”_blank” >Discord</a>
    <p class="df">© 2023 HealthyFy Me</p>
  </div>

    <%- include('partials/footer') %>